@import 'base/reset' ;
@import 'components/navbar' ;
@import 'layouts/index' ;
@import 'layouts/about' ;
@import 'layouts/contacto' ;
@import 'layouts/galeria' ;
@import 'layouts/productos' ;
@import 'base/utilities' ;

   

 
  

/* media queries pantalla extra small */
@media (max-width:576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

.container-fluid-grid {
    padding: 100px;
}

/* footer */

footer {
    background: #2db3bd;
    min-height: 100px;
}

footer p {
    color: white;
    text-align: center;
}

#iconos i {
    font-size: 25px;
    padding: 0 8px;
    color: #f5f2f2;
}
