/* about cards */

.section-title { 
    text-align: center;
    font-weight: bold;
    padding: 20px;
    background-color: #1d7e87;
    color: #ffffff;
  }

.card-hero {
    display: flex;
    position: relative;
  }
  
  .card-hero-content {
    padding: 20px;
    background-color: rgb(197, 245, 246);
    color: black;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-header {
    position: relative;
    width: 40%;
  }
   */
  
  
  .hero-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  } 
  
  .card-header img {
     width: 100%;
     height: 100%;
     object-fit: cover;
   }